/* color definition */

$primary : #01D0D0;
$primary-dark: #01BFBF;
$gray-transparent_1: rgb(163, 157, 157);
$gray-transparent_2: rgb(172, 172, 172);

/* common styles */

p {
    text-align: justify;
    padding: 1em;
}

a {
    color : $primary !important;
}

h2 {
    font-size : 2em;
}

/* navbar style*/

nav {
    background-color: gray;
}

.navLinks {
    color : white !important;
    font-size: 1.6em;
}

.darkBackground {
    background-color: gray
}

/* home page style */

.introCard {
    background-color: $primary-dark;
}

.introHome {
    font-size: 1.3em;
    font-style: italic;
}

/* form style */

.input-field input:focus + label {
    color: $primary !important;
}

.row .input-field input:focus {
    border-bottom: 1px solid $primary !important;
    box-shadow: 0 1px 0 0 $primary-dark !important;
}

.input-field textarea:focus + label {
  color: $primary !important;
}

input[type=text]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
   border-bottom: 1px solid $primary !important;
   box-shadow: 0 1px 0 0 $primary-dark !important;
}

.errorMessage {
    color: $primary;
    font-style: italic;
}

/* button color style */

.actionColor {
    background-color: $primary;
    color:white !important;
    margin-top : 20px;
}

.actionColor:hover {
    background-color: $primary-dark;
}

.validationColor {
    background-color: gray;
    color: white !important;
}

.cancelColor {
    background-color: black;
    color: white !important;
}

.deleteColor {
    background-color: black;
}

.editColor {
    background-color: gray;
}

.cancelColor:hover, .validationColor:hover {
    background-color: $gray-transparent_1;
    color : black !important;
}

.deleteColor:hover, .editColor:hover {
    background-color: $gray-transparent_2;
    color: black !important;
}