$primary : #01D0D0;
$primary-dark: #01BFBF;
$gray-transparent_1: rgb(163, 157, 157);
$gray-transparent_2: rgb(172, 172, 172);

p {
    text-align: justify;
    padding: 1em;
}

a {
    color : $primary !important;
}

h2 {
    font-size : 2em;
}

nav{
    background-color: gray;
}

.navLinks {
    color : white !important;
    font-size: 1.6em;
}

.introCard {
    background-color: $primary-dark;
}

.introHome{
    font-size: 1.3em;
    font-style: italic;
}

// button color style

.actionColor {
    background-color: $primary;
    color:white !important;
}

.actionColor:hover {
    background-color: $primary-dark;
}

.validationColor {
    background-color: gray;
    color: white !important;
}

.cancelColor {
    background-color: black;
    color: white !important;
}

.deleteColor {
    background-color: black;
}

.editColor {
    background-color: gray;
}

.cancelColor:hover, .validationColor:hover {
    background-color: $gray-transparent_1;
    color : black !important;
}

.deleteColor:hover, .editColor:hover {
    background-color: $gray-transparent_2;
    color: black !important;
}

