<div class="row">
    <h1 class="center">Ajouter un nouveau site internet</h1>
    <div class="col s12 offset-m2 m8">
        <div class="card">
            <div class="card-content">
                <div class="input-field">
                    <input ng-model="$ctrl.portefolio.image" type="text"/>
                    <label>Url de l'image</label>
                </div>
                <div class="input-field">
                    <input type="text" ng-model="$ctrl.portefolio.name"/>
                    <label>Nom du site</label>
                </div>
                <div class="input-field">
                    <textarea ng-model="$ctrl.portefolio.clientPresentation" class="materialize-textarea"></textarea>
                    <label>Contexte du projet</label>
                </div>
                <div class="input-field">
                    <textarea ng-model="$ctrl.portefolio.projectDescription" class="materialize-textarea"></textarea>
                    <label>Description projet</label>
                </div>
                <div class="input-field">
                    <textarea ng-model="$ctrl.portefolio.technicalDescription" class="materialize-textarea"></textarea>
                    <label>Description technique du projet</label>
                </div>
                <div class="input-field">
                    <input type="text" ng-model="$ctrl.portefolio.url"/>
                    <label>Lien du site</label>
                </div>
            </div>
        </div>
        <div class="center">
            <a class="btn-floating red" ng-click="$ctrl.cancel()"><i class="material-icons">clear</i></a>
            <a class="btn-floating green" ng-click="$ctrl.add()"><i class="material-icons">check</i></a>
        </div>
    </div>
</div>
