<div class="row" ng-if="!$ctrl.modeEdit">
    <h1 class="center">{{$ctrl.website.name}}</h1>
    <div class="col s12 offset-m2 m8">
        <div class="card">
            <div class="card-image">
                <img class="activator" src="{{$ctrl.website.image}}">
            </div>
            <div class="card-content">
                <a ng-click="$ctrl.close()"> 
                    <i class="material-icons small right">close</i>
                </a>
                <h2>Contexte du projet</h2>
                <p>{{$ctrl.website.clientPresentation}}</p>
                <h2>Description du projet</h2>
                <p>{{$ctrl.website.projectDescription}}</p>
                <h2>Description technique</h2>
                <p>{{$ctrl.website.technicalDescription}}</p>
                <p>Url : <a href="{{$ctrl.website.url}}">{{$ctrl.website.url}}</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col s12"> 
        <div class="row commentBloc">
            <div ng-if="$ctrl.comments.length === 0" class="center">
                <h5>Il n'y a aucun commentaire, soyez le premier à en laisser un !</h6>
                <i class="material-icons">sentiment_satisfied</i>
            </div>
            <div ng-if="$ctrl.comments.length !== 0">
                <h5>{{$ctrl.comments.length}} commentaire{{$ctrl.comments.length===1 ? '' : 's'}} :</h6>
            </div>
            <div ng-repeat="comment in $ctrl.comments | orderBy : '-createdAt'">
                <div class="section">
                    <div class="row">
                        <p class="col s10"><strong class="strongComment">{{comment.name}}</strong>, <em>le {{comment.createdAt | date: "dd/MM/yyyy ' à ' HH:mm"}}</em></p>
                        <a class="col s1" ng-click="$ctrl.deleteComment(comment)" ng-if="$ctrl.user">
                            <i class="material-icons">delete</i>
                        </a>
                    </div>
                    <div class="row">
                        <p class="commentContent">{{comment.content}}</p>
                    </div>
                    <div class="divider"></div>
                </div>
                
            </div>
        </div>
        <div class="row commentBloc">
            <h5>Laisser un commentaire</h5>
            <div class="col s12 offset-m3 m6">
                <form class="card" name="commentForm" ng-submit="$ctrl.submitCommentForm(commentForm, $ctrl.comment)">
                    <div class="input-field">
                        <input type="text" required ng-model="$ctrl.comment.name" />
                        <label>Nom *</label>
                    </div>
                    <div class="input-field">
                        <input type="text" ng-model="$ctrl.comment.email" />
                        <label>Email</label>
                    </div>
                    <div class="input-field">
                        <textarea class="materialize-textarea" required ng-model="$ctrl.comment.content">
                                </textarea>
                        <label>Commentaire *</label>
                    </div>
                    <a class="waves-effect waves-light btn cancelColor col s6" ng-click="$ctrl.cancelComment()">
                        annuler
                        <i class="material-icons right">cancel</i>
                    </a>
                    <button class="waves-effect waves-light btn validationColor col s6" type="submit" name="action">
                        Publier
                        <i class="material-icons right">send</i>
                    </button>
                </form>
            </div>
        </div>
    </div>


</div>

<div class="row" ng-if="$ctrl.modeEdit">
    <h1 class="center">Modifier le site web</h1>
    <div class="col s12 offset-m2 m8">
        <div class="card">
            <form name="addWebsiteForm" novalidate ng-submit="$ctrl.submitForm(addWebsiteForm, $ctrl.website)">
                <div class="card-content">
                    <div class="input-field">
                        <input type="text" name="image" required ng-model="$ctrl.website.image" />
                        <label>Url de l'image</label>
                    </div>
                    <div ng-messages="addWebsiteForm.image.$error" ng-if="addWebsiteForm.$submitted">
                        <div ng-message="required" class="errorMessage">
                            Veuillez entrer l'url d'une image
                        </div>
                    </div>
                    <div class="input-field">
                        <input type="text" name="name" required ng-model="$ctrl.website.name" />
                        <label>Nom du site</label>
                    </div>
                    <div ng-messages="addWebsiteForm.name.$error" ng-if="addWebsiteForm.$submitted">
                        <div ng-message="required" class="errorMessage">
                            Veuillez entrer le nom du site web
                        </div>
                    </div>
                    <div class="input-field">
                        <textarea class="materialize-textarea" required name="clientPresentation" ng-model="$ctrl.website.clientPresentation">
                        </textarea>
                        <label>Contexte du projet</label>
                    </div>
                    <div ng-messages="addWebsiteForm.clientPresentation.$error" ng-if="addWebsiteForm.$submitted">
                        <div ng-message="required" class="errorMessage">
                            Veuillez entrer la description du contexte du projet
                        </div>
                    </div>
                    <div class="input-field">
                        <textarea class="materialize-textarea" required name="projectDescription" ng-model="$ctrl.website.projectDescription">
                        </textarea>
                        <label>Description projet</label>
                    </div>
                    <div ng-messages="addWebsiteForm.projectDescription.$error" ng-if="addWebsiteForm.$submitted">
                        <div ng-message="required" class="errorMessage">
                            Veuillez entrer une description du contexte du projet
                        </div>
                    </div>
                    <div class="input-field">
                        <textarea class="materialize-textarea" required name="technicalDescription" ng-model="$ctrl.website.technicalDescription">
                        </textarea>
                        <label>Description technique du projet</label>
                    </div>
                    <div ng-messages="addWebsiteForm.technicalDescription.$error" ng-if="addWebsiteForm.$submitted">
                        <div ng-message="required" class="errorMessage">
                            Veuillez entrer une description technique du projet
                        </div>
                    </div>
                    <div class="input-field">
                        <input type="text" name="url" required ng-model="$ctrl.website.url" />
                        <label>Lien du site</label>
                    </div>
                    <div ng-messages="addWebsiteForm.url.$error" ng-if="addWebsiteForm.$submitted">
                        <div ng-message="required" class="errorMessage">
                            Veuillez entrer l'URL du site web
                        </div>
                    </div>
                </div>
                <div>
                    <a class="waves-effect waves-light btn cancelColor col s6" ng-click="$ctrl.cancel()">
                        <i class="material-icons">clear</i>
                    </a>
                    <button type="submit" class="waves-effect waves-light btn validationColor col s6">
                        <i class="material-icons">check</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="fixed-action-btn horizontal" ng-if="$ctrl.user && !$ctrl.modeEdit">
    <a class="btn-floating btn-large actionColor">
      <i class="large material-icons">menu</i>
    </a>
    <ul>
        <li>
            <a class="btn-floating deleteColor" ng-click="$ctrl.delete($ctrl.website)">
                <i class="material-icons">delete</i>
            </a>
        </li>
        <li>
            <a class="btn-floating editColor" ng-click="$ctrl.editWebsite()">
                <i class="material-icons">edit</i>
            </a>
        </li>
    </ul>
</div>