<div class="row">
    <h1 class="center">Anne-Claire Sebirou</h1>
    <div class="row">
        <div class="col hide-on-small-only m3">
            <img class="responsive-img" src="pictures/sebirou_anneclaire.jpg">
        </div>
        <div class="col s12 m9">
            <div class="card-panel introCard">
                <p class="white-text introHome"> Passionée d'informatique depuis toujours, j'ai choisi de me reconvertir en septembre 2016 dans le développement web en faisant
                une formation à la Wild Code School. <br/> Au cours de cette formation, j'ai réalisé plusieurs projets dont
                deux pour de véritables clients :<br/> - Le site web de l'Atelier Canteloup<br/> - L'application Avoscalculs </p>
            </div>
        </div>
    </div>

    <portefolio-list limit=3></portefolio-list>

    <a class="col s12 offset-m6 m6 waves-effect waves-light btn actionColor" ui-sref="app.portefolioList">voir plus</a>
</div>